<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Openpay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenpayExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenpayTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>openpay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>907129E5195A40AC00EB5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907129EB195A41E000EB5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907129FE195A46CA00EB5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8ED701958A81E00795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8ED801958A81E00795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8EDAD1958BA3500795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8EDC91958BA3600795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8EDE21959006E00795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8EDFE1959006F00795E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
